<section id="cart">
    <div class="list">
        <span class="title">Your cart</span>
        <ul>
            <% if (cart.length === 0) { %>
                <span>Your cart is empty</span>
            <% } %>
                
        </ul>
        <button id="buy">Buy now</button>
        
    </div>

</section>