<section id="category">
    <label for="categories">Category:</label>
    <select name="categories" id="categorySelect">
        <option value="Cats" selected>Cats</option>
        <option value="Dogs">Dogs</option>
        <option value="Birds">Birds</option>
        <option value="Rodents">Rodents</option>
        <option value="Fish">Fish</option>
    </select>
    <div class="spinner spinner2"></div>
    <div id="categoryItems" class="itemContainer"></div>
</section>