<section id="home">
    <div class="homeBunner">
        <div class="dog"></div>
        <div class="titles">
            <h1>Best goods</h1>
            <h5>
                Choose only the best for your lovely friend! We here to provide best expirience and leaen from you!
            </h5>
            <button id="goToSalesBtn">go to sales</button>
        </div>
        <div class="cat"></div>

    </div>
    <div class="petButtons">
        <div class="petButton" id="catPetButton">
            <div class="petButtonimage catButton"></div>
            <div class="categoryName">Cats</div>
        </div>
        <div class="petButton" id="dogPetButton">
            <div class="petButtonimage dogButton"></div>
            <div class="categoryName">Dogs</div>
        </div>
        <div class="petButton" id="birdPetButton">
            <div class="petButtonimage birdButton"></div>
            <div class="categoryName">Birds</div>
        </div>
        <div class="petButton" id="rodentPetButton">
            <div class="petButtonimage rodentButton"></div>
            <div class="categoryName">Rodents</div>
        </div>
        <div class="petButton" id="fishPetButton">
            <div class="petButtonimage fishButton"></div>
            <div class="categoryName">Fish</div>
        </div>

    </div>
</section>