<div class="banner">Free Delivery! For every new customer</div>
<navbar>
    <span class="logo">Pet Shop</span>
    <div class="navcontainer">
        <a href="#category">categories</a>
        <a href="#sales">sales</a>
        <a href="#cart">cart</a>
    </div>
</navbar>