<section id="sales">
    <h1>Sales</h1>
    <div class="search_container">
        <input id="searchInput" type="text" placeholder="enter search term">
        <button id="searchButton">Search</button>
    </div>
    <div class="spinner spinner1"></div>
    <div id="saleItems" class="itemContainer"></div>
</section>