@font-face {
    font-family: 'Moo';
    src: url('./assets/fonts/Moo_Lah_Lah/MooLahLah-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
    font-weight: 200 900;
}
:root {
    /* colors */
    --primary-pink: #FF68C8;
    --secondary-pink: #ef0599;
    --primary-yellow: #E0F000;
    --secondary-yellow: #bac703;
    
    /* font sizes */
    --font-size-xlg: 40px;
    --font-size-lg: 30px;
    --font-size-md: 25px;
    --font-size-sm: 20px;
}
*{
    text-align: center;
    font-size: var(--font-size-md);
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/pattern.png');
    background-size: 1000px;
    background-repeat: repeat;
}
.banner{
    background-color: var(--primary-yellow);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;

}
navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    min-height: 50px;
    border: solid .5px;
    padding: 10px 20px;
    font-size: var(--font-size-md);
    font-weight: bold;
    color: black;
    text-shadow: white;
}
navbar .navcontainer{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
navbar .navcontainer a{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;
    text-shadow: 
    -2px -2px 0 white,  
     2px -2px 0 white,  
    -2px  2px 0 white,  
     2px  2px 0 white;
}
navbar .logo {
    font-size: 66px;
    font-weight: 100;
    font-family: 'Moo', sans-serif;
    text-shadow: 
        -5px -5px 0 white,  
        5px -5px 0 white,  
       -5px  5px 0 white,  
        5px  5px 0 white,
       -10px  0px 0 white,  
        10px  0px 0 white,  
        0px -10px 0 white,  
        0px  10px 0 white;
}

.petButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;

}
.petButton{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: ease .5s;
    font-family: 'Nunito', sans-serif;

}
.petButton:hover{
    transform: scale(1.1);
    transition: ease .5s;
}
.petButton:active{
    transition: ease .5s;
    transform: scale(1.1);
    background-color: rgba(128, 128, 128, 0.5);
}
.petButtonimage{
    width: 80%;
    height: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.categoryName{
    font-size: var(--font-size-md);
    font-weight: bold;
}
.catButton{
    background-image: url('./assets/images/kitty.png');
}
.dogButton{
    background-image: url('./assets/images/doggy.png');
}
.birdButton{
    background-image: url('./assets/images/bird.png');
}
.rodentButton{
    background-image: url('./assets/images/rodent.png');
}
.fishButton{
    background-image: url('./assets/images/fish.png');
}
section{
    height: auto;
    min-height: 50vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;

}
section[id='sales']{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

section[id='category']{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
section[id='category'] select,
section[id='category'] label{
    width: 300px;
    height: 30px;

}
section[id='category'] label{
    font-size: 95px;
    font-family: 'Moo', sans-serif;
    width: 100%;
    height: 100%;
}
section[id='about']{
    width: 80%;
    height: 90vh;
    background-color: white;
}
section[id='cart']{
    width: 80%;
    height: 90vh;    
}
.card{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: solid .5px gray;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
}
.card .img{
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.title{
    text-align: center;
    font-size: var(--font-size-xlg);
    font-weight: 100;
    font-family: 'Moo', sans-serif;
}
h1{
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-family: 'Moo', sans-serif;
    font-size: 95px;
}
.search_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.search_container input{
    outline: none;
    width: 300px;
    height: 25px;
}
.search_container button{
    border: none;
    height: fit-content;
    margin-left: 5px;
    background-color: var(--primary-yellow);
    border-radius: 5px;
    width: fit-content;
    transition: ease .5s;
    padding: 2px;
}
.search_container button:hover{
    background-color: darkgray;
}
.search_container button:active{
    transform: scale(0.95);
}
.itemContainer{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.homeBunner{
    background-color: var(--primary-pink);
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeBunner .dog{
    background-image: url('./assets/images/dog.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 60%;
}
.homeBunner .cat{
    background-image: url('./assets/images/cat.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 60%;
}
.homeBunner .titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#goToSalesBtn{
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 15px;
    font-size: var(--font-size-md);
    transition: ease .5s;
    padding: 10px;
    margin: 15px;
}
#goToSalesBtn:hover{
    background-color: var(--secondary-yellow);
    transform: scale(1.05);
    transition: ease .5s;
}
#goToSalesBtn:active{
    background-color: var(--secondary-yellow);
    transform: scale(1.1);
    transition: ease .5s;  
}
.homeBunner h5{
    text-align: center;
    font-size: var(--font-size-md);
    margin: 0;
    width: 500px;
}
.homeBunner h1{
    font-size: 95px;
    margin: 0;
    width: 500px;
}
#doToSalesBtn{
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 10px;
    font-size: var(--font-size-md);
    padding: 15px;
    margin: 25px;
}
section[id='cart'] .list{
    background-color: white;
    width: 50vw;
    overflow-y: scroll;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section[id='cart'] button{
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 5px;
    width: fit-content;
    transition: ease .5s;
    padding: 2px;
}
section[id='cart'] button:hover{
    background-color: var(--secondary-yellow);
    transform: scale(1.05);
    transition: ease .5s;
}
section[id='cart'] button:active{
    background-color: var(--secondary-yellow);
    transform: scale(1.1);
    transition: ease .5s;
}
.addButton{
    background-color: var(--primary-pink);
    border: none;
    border-radius: 5px;
    transition: ease .5s;

}
.addButton:hover{
    background-color: var(--secondary-pink);
    transform: scale(1.05);
    transition: ease .5s;
}
.addButton:active{
    background-color: var(--secondary-pink);
    transform: scale(1.1);
    transition: ease .5s;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.kabalah{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    z-index: 0;
}